<input name="rating" type="radio" id="star2" />
<label for="star2"><i class="fa fa-star-o" data-rating="2" aria-hidden="true"></i></label>
<input name="rating" type="radio" id="star4" />
<label for="star4"><i class="fa fa-star-o" data-rating="4" aria-hidden="true"></i></label>
<input name="rating" type="radio" id="star6" />
<label for="star6"><i class="fa fa-star-o" data-rating="6" aria-hidden="true"></i></label>
<input name="rating" type="radio" id="star8" />
<label for="star8"><i class="fa fa-star-o" data-rating="8" aria-hidden="true"></i></label>
<input name="rating" type="radio" id="star10" />
<label for="star10"><i class="fa fa-star-o" data-rating="10" aria-hidden="true"></i></label>

